{% extends 'base.html' %}
{% block content %}

    <div id="main-container" class="container clearfix" style="height: 720px">
        <section class="post-left">
            <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <span class="current">关于我们</span>
            </div>
            <div class="post-main clearfix">
                <h1 class="post-title">关于我们</h1>
                <div class="post-con clearfix">
                    <div class="article-meta"> <span class="item">2018-10-09</span></div>
                    <article class="article-content">
                        <p>about me</p>
                    </article>
                </div>
            </div>
            <!-- /文章 -->
        </section>
        <!-- /post-left -->
        <!-- /post-right -->
        <aside class="post-right hidden-xs">
            <!-- /关注我们 -->
            
            <div class="post-right-item">
                <h4 class="post-right-title">关注我</h4>
                <div class="wid-about">
                    <p>欢迎关注！</p>
                    <img src="../static/picture/qqziliao.png" alt="QQ资料" width="160" height="160">
                </div>
                <div class="wid-about">
                    <p><strong>联系方式:</strong></p>
                    <p>QQ：274262321</p>
                    <p>Email：SwordsDevil@163.com</p>
                </div>
            </div>


        </aside>
    </div>


{% endblock %}