{% extends 'base.html' %}

{% block content %}

    <!-- /主体 -->
    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <a href="{% url 'show' name.id %}">{{ name }}</a> »
                <span class="current">正文</span></div>
            <div class="post-main clearfix">
                <h1 class="post-title">{{ body.title }}</h1>
                <div class="post-con clearfix">
                    <div class="article-meta">
                        <span class="item">分类：<a href="{% url 'list' name.id %}" rel="category tag">{{ body.category}}</a></span>
                        <span class="item">作者：{{ body.user }}</span>
                        <span class="item">浏览：{{ body.views }}</span>
                        <span class="item">{{ body.created_time}}</span>

                    </div>
                    <article class="article-content">
                        <p>{{ body.body|safe }}</p>
                    </article>

                    <div class="post-tag"><span class="fa fa-tags" aria-hidden="true"></span>标签：
                        {% for tags in tags %}
                            <a href="{% url 'tag' tags.id %}" rel="tag">{{ tags.name}}</a>
                        {% endfor %}
                    </div>
                    <div>
                        <div><b>上一篇：</b>
                            {% if previous_log %}
                                <a href="{% url 'show' previous_log.id %}" class="article-tag">{{ previous_log.title }}</a>
                            {% else %}
                                没有了
                            {% endif %}
                        </div>
                        <div><b>下一篇：</b>
                            {% if next_log %}
                                <a href="{% url 'show' next_log.id %}" class="article-tag">{{ next_log.title }}</a>
                            {% else %}
                                没有了
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

            <!-- /文章 -->


            <div class="recommend  hidden-xs">

                <div class="head clearfix"><span class="sp">您可能感兴趣的:</span></div>
                <ul>
                    {% for h in hobby %}
                    <li>
                        <div class="pic">
                            <a href="{% url 'show' h.id %}" title="{{ h.title }}"><img
                                    src="/media/{{ h.img}}" srcset="/media/{{ h.img}}"
                                    alt="hobby" class="wp-post-image" width="145"
                                    height="100" /></a>
                        </div>
                        <a class="descript " href="{% url 'show' h.id %}" rel="bookmark"
                            title="{{ h.title }}">{{ h.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <!-- /post-left -->
        <!-- /post-right -->
    {% include 'right.html' %}
    </div>
{% endblock %}